

#wordGuess{
    letter-spacing: 10px;
    text-align: center;

}

.display-4 {

    text-align: center;
}
#wins {

    color: green;
}

#losses{
     color: red;

}

#remGuesses {
    color: blue;

}

#letG {

    text-align: center;
}
.lettersGuessed {
    color: purple;
    text-align: center;
}

#lettersGuessed {
    color: purple;
    letter-spacing: 15px;
    text-align: center;

}